* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	outline: none;
}

img {
	max-width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}


input {
	-webkit-border-radius: 0px;
	-webkit-appearance: none;
}


ul {
	list-style: none;
}


a {
	text-decoration: none;
	color: inherit;
}

html,
body {
	font-size: 62.5%;

	// @media screen and (max-width:$large_desktop) {
	// 	font-size: 100vw / (1750/10);
	// }

	@media screen and (max-width:$large_tablet) {
		font-size: 100%;
	}

	@media screen and (max-width:$large_mobile) {
		font-size: 100vw / (375/10);
	}
}

body {
	font-family: $font;
	color: $color;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	font-size: 1.6rem;

}

main {
	flex-grow: 1;

}

.center-wrap {
	// max-width: ;
	width: 100%;
	margin: 0px auto;
	padding: 0px 15px;

	@media screen and (max-width:$large_tablet) {
		max-width: $large_mobile;
	}
}

h1,
h2,
h3,
h4 {
	margin: 0px;
}


.simple-title {
	@media screen and (max-width:$large_tablet) {}
}

.desktop--hide {
	@media screen and (min-width:1025px) {
		display: none !important;
	}
}

.mobile--hide {
	@media screen and (max-width:$large_tablet) {
		display: none !important;
	}
}